If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-std=c11,-xc-header,-Wall,-pedantic]
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add: [-std=c11,-xc,-Wall,-pedantic]
---
If:
  PathMatch: .*\.hpp
CompileFlags:
  Add: [-std=c++23,-xc++-header,-Wall,-pedantic]
---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add: [-std=c++23,-xc++,-Wall,-pedantic]
